Test/config.xsd

<?xml version="1.0" encoding="IBM437"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="key">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="value">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="data" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="modified" type="xs:string" use="required" />
      <xs:attribute name="build" type="xs:unsignedInt" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>